<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('includes/navbar') %>

    <div class="items">
    <% for( let i = 0; i < comics.length; i++ ) { %>
    <a href="products/rememberToFinish">
        <img src="<% comics[i].coverArtLink %>" alt="<% comics[i].name %>">
    </a>
    <% } %>
    </div>

</body>
</html>